$tc-sparklines-fill: #b2cdc6 !default;
$tc-sparklines-selection-line: #88b2a8 !default;
$tc-sparklines-selection-circle: #4c4c4c !default;
$tc-sparklines-selection-tooltip-bg: #4c4c4c !default;
$tc-sparklines-selection-tooltip-color: white !default;

path.sparkline__area {
  stroke-width: 0;
  fill: $tc-sparklines-fill;
}

.sparkline__selection {
  pointer-events: none;
}

line.sparkline__selection {
  stroke-width: 2px;
  stroke: $tc-sparklines-selection-line;
}

circle.sparkline__selection {
  fill: $tc-sparklines-selection-circle;
}

.sparkline__tooltip-container {
  overflow: visible;
}

.sparkline__tooltip {
  direction: rtl;
}

.sparkline__tooltip-box {
  direction: ltr;
  display: inline-block;
  white-space: nowrap;
  text-align: right;
  background-color: $tc-sparklines-selection-tooltip-bg;
  color: $tc-sparklines-selection-tooltip-color;
  height: 1.2em;
  padding: .1em .5em;
}

.sparkline__tooltip-box {
  .text {
    margin-right: 0.5em;
  }
}
